body {
	font-family: Arial, Helvetica, sans-serif;
}

.container,
.weather-app {
	margin: 0 auto;
	max-width: 600px;
}
.weather-app {
	border: 1px solid gray;
	border-radius: 10px;
	padding: 10px;
	margin-top: 20px;
	box-shadow: 2px 2px 5px rgb(174, 174, 173);
}
ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	margin-top: 5px;
}
li {
	margin-bottom: 0;
	line-height: 16px;
	margin-top: 5px;
}

#search-name-form {
	max-width: 75%;
	margin-bottom: 10px;
}
h1 {
	margin-bottom: 0px;
	line-height: 28px;
}
.current-weather-detail img {
	margin-right: 10px;
	height: 64px;
	width: 64px;
}
.current-weather-detail strong {
	font-size: 64px;
	font-weight: 400;
	line-height: 1;
}
.current-weather-detail .units {
	position: relative;
	font-size: 16px;
	text-decoration: none;
}
.units a {
	text-decoration: none;
	color: rgb(73, 16, 219);
	cursor: pointer;
}
.units .deactive {
	text-decoration: none;
	color: rgb(0, 0, 0);
}
.units .deactive:hover {
	cursor: default;
	color: rgb(0, 0, 0);
}
.units .active {
	text-decoration: none;
	color: rgb(40, 58, 225);
}
.units .active:hover {
	cursor: pointer;
	color: rgb(40, 58, 225);
}
.forecast-div {
	margin-top: 30px;
	text-align: center;
	font-size: 16px;
	margin: 0 auto;
	color: brown;
}

.min,
.max,
.dateForecast {
	text-align: center;
	margin: o auto;
	margin-left: 5px;
	margin-right: 5px;
}
.dateForecast {
	color: rgba(0, 0, 0, 0.562);
	font-weight: bold;
	text-shadow: 1px 1px 0.5px rgb(146, 140, 140);
}
.min {
	color: blue;
	text-shadow: 1px 1px 2px rgb(110, 114, 118);
}
.max {
	color: rgb(200, 11, 52);
	text-shadow: 1px 1px 2px rgb(110, 114, 118);
}
